@model List<Golowinskiy_NewBostil.Models.Product.ProductDetailViewModel>
@using System.Web

<link rel="stylesheet" href="~/css/detail-page-components.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
        width: 70%;
        margin: auto;
    }
</style>
@foreach (var prod in Model)
{
<div id=@("detail-page" + prod.Id) class="detail_product">
    <div class="close">
        <i class="fa fa-times" aria-hidden="true" onclick="closeWindow()"></i>
    </div>
    <div class="detail_product_item detail_product_item_left">
        <div class="detail_product_item_images">
            <div class="arrows prew" onclick="showPrevProduct()">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </div>
            <div class="image" style="margin:auto">
                <img src="@prod.MainImageLink" id="mainImg">
            </div>
            <div class="arrows next" onclick="showNextProduct()">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
        </div>

        <div class="detail_product_item_main_information">
            <div class="text">
                <h4>@prod.ProductName</h4>
                <p>@prod.Price руб. </p>
            </div>

        </div>
    </div>

    <div class="detail_product_item detail_product_item_right">
        @if (prod.AdditionalImagesLink.Count > 0)
        {
            <div class="additional_images">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
                <div class="images">
                    @foreach (var img in prod.AdditionalImagesLink)
                    {
                        <img src="@img" onmouseover="showAddtImage('@img')" onmouseout="showAddtImage('@prod.MainImageLink')">
                    }
                </div>
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
        }

        <div class="description" id="show_description">
            <p>@prod.Description</p>
            <div>
                <h6 class="contactu">Контакты</h6>
                <div class="contacts_data">
                    <div class="phone">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span>8-916-1616146</span>
                    </div>
                    <div class="email">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <span>golovinskiy-rf@mail.ru</span>
                    </div>
                </div>
                <div class="application">
                    <img src="~/images/app1.png">
                    <img src="~/images/app2.png">
                </div>
            </div>
        </div>


    </div>
</div>
}
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>