@model Golowinskiy_NewBostil.Models.Product.EditProductViewModel

@{
    ViewData["Title"] = "Product";
    Layout = null;
}

<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="~/css/add-product-components.css" />
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css'
      integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>
<section class="advertisement">
    <div class="container">
        <div class="showSpinner">
            <i class="fa fa-spinner fa-spin"></i>
        </div>

        @if (ViewBag.IsEdit == false)
        {
            <h3 class="text-center mt-4 mb-4">Разместить объявление</h3>
        }
        else
        {
            <h3 class="text-center mt-4 mb-4">Редактировать объявление</h3>
            <input id="productId" value="@Model.Id" type="hidden" />
        }
        <div class="row justify-content-md-center">
            <div class="col-lg-8 col-xs-12 back text-right mt-4 mb-2">
                <a onclick="location.href='../Home/Index'">ВЕРНУТЬСЯ к КАТАЛОГУ</a>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-8 col-xs-12 back text-right mb-4">
                <a onclick="location.href='../Cabinet/Cabinet'">ВЕРНУТЬСЯ в ЛИЧНЫЙ КАБИНЕТ</a>
            </div>
        </div>

        <div class="row mb-3 justify-content-md-center">
            <div class="col-lg-8 col-xs-12 text-right">
                <div class="contact pt-2 pb-2 pr-2">
                    <h5>Контактная информация</h5>
                    <input id="userId" value="@Model.UserId" type="hidden" />
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            <span id="userName">@Model.UserName</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                            <span id="email">@Model.Email</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-xs-12">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @if (ViewBag.IsEdit == false)
        {
            <div id="categories" class="categories">
                <div class="ps-widget__header">
                    <h5>Выберите раздел каталога</h5>
                </div>
            </div>

            <div id="categ" class="row justify-content-md-center choosed">
                <div class="col-lg-8 col-xs-12 no-padding">
                </div>
            </div>

            <div class="row justify-content-md-center choosed">
                <div class="col-lg-8 col-xs-12 no-padding successSection">
                    Вы выбрали раздел
                    <div id="breadcrumbs" class="breadcrumbs_container">
                    </div>
                </div>
            </div>
        }

        <div class="showMessage">
            <div class="alert">
            </div>
        </div>

        <div class="form">
            @if (ViewBag.IsEdit == false)
            {
                <div class="form-group"
                     style="display: none;">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-4">
                            <label>Наименование категории</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" id="Categories">
                        </div>
                    </div>
                </div>
            }

            <div class="form-group">
                <div class="row justify-content-md-center">
                    <div class="col-lg-4">
                        <label>Наименование товара, услуги *</label>
                    </div>
                    <div class="col-lg-4" style="display:block">
                        @if (ViewBag.IsEdit == false)
                        {
                            <input type="text" id="TName" value=""
                                   onblur="isEmptyTName()" onkeyup="isEmptyTName()" onchange="checkFilledRequiredFields()">
                        }
                        else
                        {
                            <input type="text" id="TName" value="@Model.ProductName"
                                   onblur="isEmptyTName()" onkeyup="isEmptyTName()" onchange="checkFilledRequiredFields()">
                        }
                        <span class="form-help-text">
                            Заполните наименование товара, услуги
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row justify-content-md-center">
                    <div class="col-lg-4">
                        <label>Описание товара, услуги</label>
                    </div>
                    <div class="col-lg-4">
                        @if (ViewBag.IsEdit == false)
                        {
                            <textarea type="textarea" id="TDescription"></textarea>
                        }
                        else
                        {
                            <textarea type="textarea" id="TDescription">@Model.Description</textarea>
                        }
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row justify-content-md-center">
                    <div class="col-lg-4">
                        <label>Цена</label>
                    </div>
                    <div class="col-lg-4">
                        @if (ViewBag.IsEdit == false)
                        {
                            <input type="text" id="TCost"
                                   onkeypress="return /[0-9.]/i.test(event.key)">
                        }
                        else
                        {
                            <input type="text" id="TCost" value="@Model.Price"
                                   onkeypress="return /[0-9.]/i.test(event.key)">
                        }
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="row justify-content-md-center">
                    <div class="col-lg-4">
                        <label>Основная фотография</label>
                    </div>
                    <div class="col-lg-4">
                        <div class="upload btn-file" id="DMP">
                            <input type="file" id="mainImage" onchange="attachMainImage(this)">
                            @if (ViewBag.IsEdit == false)
                            {
                                   <img id="mainImg" >
                            }
                            else
                            {
                                @if (Model.MainImageLink.Contains("noimage.png"))
                                {
                                    <img id="mainImg" alt="">
                                }
                                else
                                {
                                    <img id="mainImg" src="@Model.MainImageLink"  alt="" style="width:100%; height:100%">
                                }
                            }
                            <i class="fa fa-upload arrow" aria-hidden="true"></i>
                            <i class="fa fa-rotate-right"></i>
                        </div>
                        @if (ViewBag.IsEdit == false)
                        {
                            <i class="fa fa-times delete" id="remove-main" style="visibility:hidden" onclick="removeMainImage()"></i>
                        }
                        else
                        {
                            <i class="fa fa-times delete" id="remove-main" onclick="removeMainImage()"></i>
                        }
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <div class="row justify-content-md-center">
                    <div class="col-lg-4 col-xs-12">
                        <label>Доп. фотографии</label>
                    </div>
                    <div class="col-lg-4 col-xs-12">
                        <div class="upload-images" id="addt-imgs">
                            @if (Model.AdditionalImageLinks == null || Model.AdditionalImageLinks.Count == 0 || ViewBag.IsEdit == false )
                            {
                                <div class="upload btn-file" id="additional-div-img1">
                                    <input id="additionalImage1" type="file" onchange="attachAdditImage(this)" disabled>
                                    <img id="addtImg1" class="upload-add"  alt="">
                                    <i class="fa fa-upload arrow disabled" aria-hidden="true"></i>
                                </div>
                                <i class="fa fa-times delete" id="removeImg1" style="visibility:hidden" onclick="removeAdditionalImage(this, 1)"></i>
                            }
                            else
                            {
                                int i = 1;
                                @foreach (var item in Model.AdditionalImageLinks)
                                {
                                    <div class="upload btn-file" id="@("additional-div-img"+ i)">
                                        <input id="@("additionalImage" + i)" type="file">
                                        <img id="@("addtImg"+ i)"  alt="" src="@item.Value" style="width:100%; height:100%">
                                        <i class="fa fa-upload arrow" aria-hidden="true"></i>
                                    </div>
                                    <i class="fa fa-times delete" id="@("removeImg" + i)" onclick="removeExistAdditionalImage(this, @i, @item.Key)"></i>
                                    i++;
                                }
                                <div class="upload btn-file" id="@("additional-div-img" + i)">
                                    <input id="@("additionalImage" + i)" type="file" onchange="attachAdditImage(this)">
                                    <img id="@("addtImg" + i)"  alt="">
                                    <i class="fa fa-upload arrow" aria-hidden="true"></i>
                                </div>
                                <i class="fa fa-times delete" id="@("removeImg" + i)" onclick="removeAdditionalImage(this, @i)" style="visibility:hidden"></i>
                            }
                        </div>
                    </div>
                </div>
                <div class="row justify-content-md-center">
                    <div class="col col-lg-4 mb-3 hover_btn"
                         id="submit-area">
                        @if (ViewBag.IsEdit == false)
                        {
                            <button type="button" class="btn btn-block btn-primary" id="btn-sbmt" name="submitButton" onclick="saveProduct()">
                                Разместить объявление
                            </button>
                        }
                        else
                        {
                            <button type="button" class="btn btn-block btn-primary" id="btn-sbmt" name="submitButton" onclick="editProduct()" style="opacity:1; cursor:pointer">
                                Редактировать объявление
                            </button>
                        }

                    </div>
                </div>

                <div class="row other_fields">
                    <div class="col-lg-4">
                        <p id="pp">Необязательные поля</p>
                    </div>
                </div>

                <div class="form-group">

                    <div class="row justify-content-md-center">
                        <div class="col-lg-4">
                            <label>Ссылка на видео</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" id="youtube" value="@Model.VideoLink">
                        </div>
                    </div>

                </div>

                <div class="form-group">

                    <div class="row justify-content-md-center">
                        <div class="col-lg-4">
                            <label>Тип изделия</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" id="TypeProd" value="@Model.ProductType">
                        </div>
                    </div>

                </div>

                <div class="form-group">
                    <div class="row justify-content-md-center">
                        <div class="col-lg-4">
                            <label>Артикул товара</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" id="Article" value="@Model.ProductArticle">
                        </div>
                    </div>

                </div>

                <div class="form-group">

                    <div class="row justify-content-md-center">
                        <div class="col-lg-4">
                            <label>Механизм трансформации</label>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" id="TransformMech" value="@Model.TransformationMechanism">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/product.js"></script>