@model List<Golowinskiy.Web.Models.Product.ProductCategoryViewModel>

<link rel="stylesheet" href="~/css/products-components.css">
<div class="showSpinner" id="spinProd">
    <i class="fa fa-spinner fa-spin"></i>
</div>
<div id="selectedCategory">
    <div id="breadcrumbs" class="breadcrumbs_container">
    </div>
    <div class="products_list">
        @foreach (var product in Model)
        {
            <input type="hidden" value="@product.Id" />
            <div class="products_list_item" onclick="showDetails(this, '@product.Id')">
                <div class="products_list_item_main">
                    <img src="@product.MainImageLink">
                </div>
                <div class="products_list_item_footer">
                    <h4>@product.Name</h4>
                    <div class="price">
                        <p>@product.Price руб.</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script>
        window.onload = function () {
            let spinner = document.getElementsByClassName('showSpinner')[0];
            spinner.style.display = 'block';

            document.getElementById('categories').style.display = 'none';
            document.getElementById('doc_time').style.display = 'none';

            let backgroundImgs = [
                'http://golowinskiy-api.bostil.ru/mainimages/08.12.2018.jpg',
                'http://golowinskiy-api.bostil.ru/mainimages/10.01.2019.jpg',
                'http://golowinskiy-api.bostil.ru/mainimages/18.01.2019.jpg',
                'http://golowinskiy-api.bostil.ru/mainimages/19.01.2019.jpg',
                'http://golowinskiy-api.bostil.ru/mainimages/21.01.2019.jpg'
            ];

            let fon = this.document.getElementById('fon-image');
            let index = Math.floor(Math.random() * 5);
            fon.style.background = 'url("' + backgroundImgs[index] + '") 50% 50% no-repeat';

            $.ajax({
                type: "GET",
                url: "/Product/BreadCrumbs?categoryId=" + @ViewBag.categoryId + "&action=" + false,
                success: function (data) {
                    $('#breadcrumbs').append(data);
                }
            });
            spinner.style.display = 'none';
        };

        function showDetails(choosenDiv, id) {
            choosenDiv.classList.add('choose');

            if (document.getElementById('detail-page') !== null) {
                let child = document.getElementById('detail-page');
                let parent = child.parentNode;
                parent.removeChild(child);
            }

            $.ajax({
                type: "GET",
                url: "/Product/ProductDetail?id=" + id,
                success: function (data) {
                    $('.container.body-content').append(data);
                    if (document.getElementsByClassName('products_list_item').length > 1) {
                        document.getElementsByClassName('arrows')[0].style.display = 'block';
                        document.getElementsByClassName('arrows')[1].style.display = 'block';
                    }
                }
            });
        }

        function closeWindow() {
            let child = document.getElementById('detail-page');
            let parent = child.parentNode;
            parent.removeChild(child);

            let choosenDiv = document.getElementsByClassName('choose')[0];
            choosenDiv.classList.remove('choose');
        }

        function showAddtImage(src) {
            let mainImg = document.getElementById('mainImg');
            mainImg.src = src;
        }

        function showNextProduct(currProd) {
            let choosenDiv = document.getElementsByClassName('choose')[0];
            let arrProdDivs = Array.from(document.getElementsByClassName('products_list_item'));
            let index = arrProdDivs.indexOf(choosenDiv);

            choosenDiv.classList.remove('choose');
            if (index != arrProdDivs.length - 1) {
                arrProdDivs[index + 1].click();
            } else {
                arrProdDivs[0].click();
            }
        }

        function deleteProduct(id) {
             $.ajax({
                type: "Delete",
                 url: "/Product/DeleteProduct?id=" + id,
                 success: deleteProducSuccess
            });
        }

        function deleteProducSuccess() {
            closeWindow();
            window.location.href = '../Product/GetProductsByCategory?categoryId=' + @ViewBag.CategoryId;
        }
    </script>
}
